<div ng-controller="ArticleActionsCtrl">

  <div class="article-status"
      ng-class="{
          disabled: changingWfStatus,
          new: !changingWfStatus && wfStatus.value === articleService.wfStatus.NEW,
          submitted: !changingWfStatus &&
              wfStatus.value === articleService.wfStatus.SUBMITTED,
          published: !changingWfStatus &&
              wfStatus.value === articleService.wfStatus.PUBLISHED,
          published_w_iss: !changingWfStatus &&
              wfStatus.value === articleService.wfStatus.PUBLISHED_W_ISS
        }">
    <div class="btn-group" dropdown>
      <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          ng-disabled="changingWfStatus">
        {{wfStatus.text}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="status in
            (workflowStatuses |
             allowedWfStatuses : article.status : article.issue.workflowStatus)"
            ng-click="setWorkflowStatus(status.value)">
            {{status.text}}
        </li>
      </ul>
    </div>
  </div>

  <div
      ng-controller="ArticlePreviewCtrl as previewCtrl"
      class="preview-btn">
    <button
      type="button"
      class="btn btn-default btn-sm"
      title="Preview article"
      ng-click="previewCtrl.openPreview()"
    >
      <i class="fa fa-eye"></i>
    </button>
    
    <!-- if article is published, switch button to -->
    <!--button
      type="button"
      class="btn btn-default btn-sm"
      title="Go to live article"
    >
       <i class="fa fa-external-link"></i>
    </button-->

  </div>

  <div class="btn-group save-close">
    <button
      class="btn btn-default btn-sm"
      >
      Close
    </button>
    <button
      class="btn btn-primary btn-sm"
      ng-disabled="!articleService.modified"
      ng-click="save()"
      >
      Save
    </button>
  </div>
  
  <div
     class="main-article-title aloha-editable"
     id="article-title-fixed"
     >
    Article Editing Environment
  </div>

</div>
