<div ng-controller="ArticleActionsCtrl">

  <div class="article-status"
      ng-class="{
          disabled: changingWfStatus,
          new: !changingWfStatus && wfStatus.value === Article.wfStatus.NEW,
          submitted: !changingWfStatus &&
              wfStatus.value === Article.wfStatus.SUBMITTED,
          published: !changingWfStatus &&
              wfStatus.value === Article.wfStatus.PUBLISHED,
          published_w_iss: !changingWfStatus &&
              wfStatus.value === Article.wfStatus.PUBLISHED_W_ISS
        }">
    <div class="btn-group" dropdown>
      <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          ng-disabled="changingWfStatus">
        {{wfStatus.text}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="status in
            (workflowStatuses |
             allowedWfStatuses : article.status : article.issue.workflowStatus)"
            ng-click="setWorkflowStatus(status.value)">
            {{status.text}}
        </li>
      </ul>
    </div>
  </div>

  <div
      ng-controller="ArticlePreviewCtrl as previewCtrl"
      class="preview-btn">
    <button
      type="button"
      class="btn btn-default btn-sm"
      title="{{ ::('aes.btn.livearticle'|trans) }}"
      ng-show="wfStatus.value === Article.wfStatus.PUBLISHED
        || wfStatus.value === Article.wfStatus.PUBLISHED_W_ISS"
      ng-click="previewCtrl.openLiveView()"
    >
      <i class="fa fa-external-link"></i>
    </button>

    <button
      type="button"
      class="btn btn-default btn-sm"
      title="{{ ::('aes.btn.previewarticle'|trans) }}"
      ng-hide="wfStatus.value === Article.wfStatus.PUBLISHED
        || wfStatus.value === Article.wfStatus.PUBLISHED_W_ISS"
      ng-click="previewCtrl.openPreview()"
    >
      <i class="fa fa-eye"></i>
    </button>
    
  </div>

  <div class="btn-group save-close">
    <button
      class="btn btn-default btn-sm"
      ng-disabled="articleService.modified"
      ng-click="close()"
      >
      {{ ::('Close'|trans) }}
    </button>
    <button
      class="btn btn-primary btn-sm"
      ng-disabled="!articleService.modified"
      ng-click="save()"
      >
      {{ ::('Save'|trans) }}
    </button>
  </div>
  
  <div
     class="main-article-title aloha-editable"
     id="article-title-fixed"
     >
    {{article.title|stripHTML}}
  </div>

</div>
