<div
   ng-controller="ArticleActionsCtrl"
   >

  <div class="article-status"
      ng-class="{
          disabled: changingWfStatus,
          new: !changingWfStatus && wfStatus.value === articleService.wfStatus.NEW,
          submitted: !changingWfStatus &&
              wfStatus.value === articleService.wfStatus.SUBMITTED,
          published: !changingWfStatus &&
              wfStatus.value === articleService.wfStatus.PUBLISHED,
          published_w_iss: !changingWfStatus &&
              wfStatus.value === articleService.wfStatus.PUBLISHED_W_ISS
        }">
    <div class="btn-group" dropdown>
      <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          ng-disabled="changingWfStatus">
        {{wfStatus.text}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="status in
            (workflowStatuses |
             allowedWfStatuses : article.status : article.issue.workflowStatus)"
            ng-click="setWorkflowStatus(status.value)">
            {{status.text}}
        </li>
      </ul>
    </div>
  </div>

  <div class="controls">
    <button
       class="btn btn-default btn-sm"
       id="zen-mode"
       ng-click="mode.goZen()"
       >
      Zen mode
    </button>
   
  </div>

  <button
     class="btn btn-primary btn-sm save-button"
     ng-disabled="!articleService.modified"
     ng-click="save()"
     >
    Save
  </button>

  <div
     class="main-article-title aloha-editable"
     id="article-title-fixed"
     >
    Article Editing Environment
  </div>

</div>
