language: node_js
node_js:
- '0.10'
- '0.12'
sudo: false
env:
  matrix:
  - ENV=test BROWSER_PROVIDER=saucelabs
  - ENV=test BROWSER_PROVIDER=browserstack
  global:
  - BROWSER_STACK_USERNAME=rafamuszyski1
  - BROWSER_STACK_ACCESS_KEY=zGoD3pfnqs5xsN9tVXoV
  - SAUCE_USERNAME=takeit
  - SAUCE_ACCESS_KEY=5016e251-2286-45c6-87d8-c78e79bbdff2
before_script:
- npm install -g bower grunt-cli
- bower install
script:
- "./scripts/travis/build.sh"
after_script:
- grunt coveralls
