<div
   class="archive"
   ng-controller="MediaArchiveCtrl"
   >
  <div
     ng-repeat="image in images.displayed"
     class="thumbnail-wrapper"
     ng-class="{attached: images.isCollected(image.id)}"
     ng-click="images.toggleCollect(image.id)"
     >
    <div class="toggler">
      <span class="glyphicon" ng-class="images.togglerClass(image.id)"></span>
    </div>
    <img
       class="thumbnail" 
       ng-src="{{root}}/images/{{image.basename}}"
       >
  </div>
  <div
     class="more-button-wrapper"
     >
    <button
       type="button"
       class="btn btn-default"
       ng-click="images.more()"
       >Load more</button>
  </div>
</div>
