<div
   class="archive"
   ng-controller="MediaArchiveCtrl"
   >
  <div
     ng-repeat="image in images.displayed"
     class="thumbnail-wrapper"
     ng-class="{attached: images.isAttached(image.id)}"
     ng-click="images.toggleAttach(image.id)"
     >
    <div class="toggler">
      <span class="glyphicon" ng-class="images.togglerClass(image.id)"></span>
    </div>
    <img
       class="thumbnail" 
       ng-src="{{root}}/images/{{image.basename}}"
       >
  </div>
  <div
     class="morer"
     ng-mouseover="images.more()"
     >
    ... load more ...
  </div>
</div>
