<div
   class="archive"
   ng-controller="MediaArchiveCtrl"
   >

  <div class="search">
    <form ng-submit="searchArchive(images.searchFilter)">
      <div class="input">
        <input
          type="text"
          ng-model="images.searchFilter"
          placeholder="Search Media Archive"
          />
        <div 
          class="remove" 
          title="Remove" 
          ng-click="clearSearch()"
          ><span class="glyphicon glyphicon-remove"></span>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-default btn-sm"
        >Search</button>

        <span>Displaying: <span class="label label-default">{{images.displayed.length}} / {{images.itemsFound}}</span></span>
        <span>Current filter: <span class="label label-info">{{appliedFilter}}</span></span>
    </form>
  </div>

  <div class="search-results">
    <div
       ng-repeat="image in images.displayed"
       class="thumbnail-wrapper"
       ng-class="{attached: images.isAttached(image.id),
                  collected: images.isCollected(image.id)}"
       ng-click="thumbnailClicked(image.id)"
       title="{{image.description || 'No description'}}"
       >
      <div class="toggler">
        <span class="glyphicon" ng-class="images.togglerClass(image.id)"></span>
      </div>
      <img
         class="thumbnail"
         ng-src="{{root}}/images/thumbnails/{{image.thumbnailPath}}"
         alt="{{image.description || 'No description'}}"
         >
      <div class="img-metadata">
        {{image.description || "No description"}}<br/>
        <span class="size-info">{{image.width}} x {{image.height}}</span>
      </div>
    </div>

    <div
       class="more-button-wrapper"
       ng-show="images.loaded.length > 0"
       >
      <button
         type="button"
         class="btn btn-default"
         ng-click="loadMore()"
         >Load More</button>
    </div>
  </div>
</div>
