<div class="computer" ng-controller="UploadFromCompCtrl">

  <div class="image-uploading">

    <div
      class="drag-area"
      ng-class="{placeholder: images.images2upload.length > 0}"
      drop-images handler="addToUploadList(files)"
      >
      <div class="drag-area-title">
        Drag Your Images Here
      </div>
      <div class="drag-area-button">
        <button class="btn btn-default" file-upload handler="addToUploadList(files)">
          <span class="glyphicon glyphicon-upload"></span> or Select them from folder
        </button>
      </div>
    </div>

    <div class="placeholder" ng-repeat="image in images2upload">

      <div class="remove">
        <button
          type="button"
          class="close"
          title="Remove"
          ng-click="removeFromStaging(image)"
          >×</button>
      </div>

      <div class="progress">
        <div
           class="progress-bar"
           role="progressbar"
           ng-style="{width: image.percent}"
           >
        </div>
      </div>

      <div class="img-preview">
         <img ng-show="image.b64data"
              ng-src="data:{{image.type}};base64,{{image.b64data}}"/>
      </div>

      <div class="img-metadata">
        <input
            ng-model="image.photographer"
            placeholder="Photographer"
            />
        <textarea
            ng-model="image.description"
            placeholder="Description"
            cols="40" rows="4"
            ></textarea>
      </div>

    </div>
  </div>

  <div class="buttons-bar">
    <button
       type="button"
       class="btn btn-primary"
       ng-disabled="images.images2upload.length < 1"
       ng-click="uploadStaged()">
      Upload
    </button>
    <button
       type="button"
       class="btn btn-default"
       ng-disabled="images.images2upload.length < 1"
       ng-click="clearStaged()">
      Clear
    </button>
  </div>

</div>
