<div class="computer" ng-controller="UploadFromCompCtrl">

  <div class="image-uploading">

    <div
      class="drag-area"
      ng-class="{small: images.images2upload.length > 0}"
      drop-images handler="addToUploadList(files)"
      >
      <div class="drag-area-title">
        {{ ::('aes.label.draghere'|trans) }}
      </div>
      <div class="drag-area-button">
        <button class="btn btn-default" file-upload handler="addToUploadList(files)">
          <span class="glyphicon glyphicon-upload"></span> {{ ::('aes.label.orselect'|trans) }}
        </button>
      </div>
    </div>

    <div class="placeholder" ng-repeat="image in images2upload">

      <div class="remove">
        <button
          type="button"
          class="close"
          title="{{ ::('aes.btn.remove'|trans) }}"
          ng-click="removeFromStaging(image)"
          >×</button>
      </div>

      <div class="progress">
        <div
           class="progress-bar"
           role="progressbar"
           ng-style="{width: image.percent}"
           >
        </div>
      </div>

      <div class="img-preview">
         <img ng-show="image.src"
              ng-src="{{image.src}}"/>
      </div>

      <div class="img-metadata">
        <span class="img-size"
              ng-show="image.width && image.height"
              >{{image.width}} x {{image.height}}</span>
        <br>

        <a class="set-for-all"
           ng-click="setForAllPhotographer(image.photographer)"
          >{{ ::('aes.label.useforall'|trans) }}</a>
        <input
            ng-model="image.photographer"
            placeholder="{{ ::('aes.label.photographer'|trans) }}"
            />

        <a class="set-for-all"
           ng-click="setForAllDescription(image.description)"
          >{{ ::('aes.label.useforall'|trans) }}</a>
        <textarea
            ng-model="image.description"
            placeholder="{{ ::('aes.label.description'|trans) }}"
            cols="40" rows="2"
            ></textarea>
      </div>

    </div>
  </div>

  <div class="buttons-bar">
    <button
       type="button"
       class="btn btn-primary"
       ng-disabled="images.images2upload.length < 1 || uploading"
       ng-click="uploadStaged()">
      {{ ::('aes.btn.upload'|trans) }}
    </button>
    <button
       type="button"
       class="btn btn-default"
       ng-disabled="images.images2upload.length < 1 || uploading"
       ng-click="clearStaged()">
      {{ ::('aes.btn.clear'|trans) }}
    </button>
  </div>

</div>
