<article class="main-article-container" id="main-article">

    <section class="article-section">
        <header>
            <span class="edit-label">Spitzmarke</span>
        </header>
        <div id="article-section" class="aloha-editable aloha-block-blocklevel-sortable ui-sortable" contenteditable="true">
            <p>Das Elsass</p>
        </div>
    </section>

    <section class="article-date">
        <p>4. Mai 2012</p>
    </section>

    <section class="article-title">
        <header>
            <span class="edit-label">Kurztitel</span>
            <span class="edit-words-info">30 von 30 Zeichen</span>
        </header>
        <div id="article-title" class="aloha-editable aloha-block-blocklevel-sortable ui-sortable" contenteditable="true">
            <p>Ganz besonders, diese Elsasser</p>
        </div>
    </section>

    <section class="article-short-text">
        <header>
            <span class="edit-label">Lead</span>
            <span class="edit-words-info">92 Zeichen / 15 Worter</span>
        </header>
        <div id="article-short-text" class="aloha-editable aloha-block-blocklevel-sortable ui-sortable" contenteditable="true">
            <p>Das Elass aus unseren Traumen gibt es nicht mehr. Ein Blick auf eine entschlummernde Regio</p>
        </div>
    </section>

    <section class="article-full-text">
        <header>
            <span class="edit-label">Lauftext</span>
            <span class="edit-words-info">2565 Zeichen / 414 Worter</span>
        </header>
        <div id="article-full-text" class="aloha-editable aloha-block-blocklevel-sortable ui-sortable aloha-editable-active" contenteditable="true">
            <p>In den ersten Konferenzen dagegen verstand ich nichts. Zwischen Zürichdeutsch und Baseldeutsch lägen noch einmal Welten, haben mich beide Seiten aufgeklärt (und beide meinen, ihr Dialekt sei der besser verständliche). Einmal bot ich grosszügig an: «Um die Operngeschichte kann ich mich kümmern.» «Oper?», fragte die Kollegin. «Wir sprechen über Nachbarschafts-Streit.» Schon bald drängte sich mir der Verdacht auf, dass meine Verwandten nie Schwiitzerdüütsch mit mir gesprochen haben. Das, was die Eidgenossen Schriftdeutsch nennen, klingt in meinen Ohren immer noch eigenartig fremd.</p>
            <figure>
                <img src="pictures/beautifullands.jpg">
            </figure>
            <p>
                Zu echten Irritationen aber kam es, wo Schweizer gänzlich andere Vokabeln verwenden. «Schmeckt nach Curry», sagte eine Kollegin strahlend, nachdem ich sie zwei Minuten mit meinem Reisgericht allein gelassen hatte. Ganz schön übergriffig, fand ich, jemandes Essen zu probieren, den man erst zwei Tagen kennt. Auch, dass «Schmutz» nicht Dreck, sondern Kuss bedeutet, muss einem gesagt sein. Auf meinem Personalblatt habe ich bei «Natel» mein Geburtsdatum eingetragen. Ich habe den Begriff irgendwie mit «pränatal» in Verbindung gebracht.
            </p>
            <p>In den ersten Konferenzen dagegen verstand ich nichts. Zwischen Zürichdeutsch und Baseldeutsch lägen noch einmal Welten, haben mich beide Seiten aufgeklärt (und beide meinen, ihr Dialekt sei der besser verständliche). Einmal bot ich grosszügig an: «Um die Operngeschichte kann ich mich kümmern.» </p>
            <p>
                Zu echten Irritationen aber kam es, wo Schweizer gänzlich andere Vokabeln verwenden. «Schmeckt nach Curry», sagte eine Kollegin strahlend, nachdem ich sie zwei Minuten mit meinem Reisgericht allein gelassen hatte. Ganz schön übergriffig, fand ich, jemandes Essen zu probieren, den man erst zwei Tagen kennt. Auch, dass «Schmutz» nicht Dreck, sondern Kuss bedeutet, muss einem gesagt sein. Auf meinem Personalblatt habe ich bei «Natel» mein Geburtsdatum eingetragen. Ich habe den Begriff irgendwie mit «pränatal» in Verbindung gebracht. In den ersten Konferenzen dagegen verstand ich nichts. Zwischen Zürichdeutsch und Baseldeutsch lägen noch einmal Welten, haben mich beide Seiten aufgeklärt (und beide meinen, ihr Dialekt sei der besser verständliche). Einmal bot ich grosszügig an: «Um die Operngeschichte kann ich mich kümmern.» «Oper?», fragte die Kollegin. «Wir sprechen über Nachbarschafts-Streit.»
            </p>
            <p>In den ersten Konferenzen dagegen verstand ich nichts.</p>
            <p>
                Zu echten Irritationen aber kam es, wo Schweizer gänzlich andere Vokabeln verwenden. «Schmeckt nach Curry», sagte eine Kollegin strahlend, nachdem ich sie zwei Minuten mit meinem Reisgericht allein gelassen hatte. Ganz schön übergriffig, fand ich, jemandes Essen zu probieren, den man erst zwei Tagen kennt. Auch, dass «Schmutz» nicht Dreck, sondern Kuss bedeutet, muss einem gesagt sein. Auf meinem Personalblatt habe ich bei «Natel» mein Geburtsdatum eingetragen. Ich habe den Begriff irgendwie mit «pränatal» in Verbindung gebracht.
            </p>
        </div>
    </section>


</article>