<article
   class="main-article-container"
   id="main-article"
   ng-controller="ArticleCtrl"
   ng-class="{'shrink-left': panes.layout.left, 'shrink-right': panes.layout.right}"
   >
  <div class="zen-buttons">
    <button class="btn btn-primary">
      Save
    </button>
    <button
       class="btn btn-sf-invisible zen-close"
       id="test-go-normal"
       ng-click="mode.goNormal()"
       >
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
    <section class="article-date">
        <p>{{article.published | date}}</p>
    </section>

    <section
       class="article-full-text"
       ng-repeat="field in editableFields = (type.fields | orderBy:'fieldWeight' | filter:editable)"
       ng-switch on="field.type"
       >
        <fixed-image-placeholder
           ng-switch-when="fixed_image"
           ng-controller="FixedImagePlaceholderCtrl"
           >
        </fixed-image-placeholder>
        <div
           ng-switch-default
           ng-class="aes-{{field.name}}"
           data-aloha-content='article.fields[field.name]'
           aloha
           sf-droppable
           >
        </div>
    </section>
    <div ng-hide="editableFields.length">
      There are no editable fields for this type of article
    </div>

</article>
