<div class="attach-image" ng-controller="AttachImageCtrl">
  <div class="row">
    <div class="col-md-2 sources list-group">
      <a
         class="list-group-item"
         ng-repeat="source in sources"
         ng-click="select(source)"
         ng-class="{active: selected.value==source.value}"
         data-test="select-{{selected.value}}"
         ng-bind="source.description"
         >
      </a>
    </div>
    <div
       class="col-md-10 source"
       ng-include="selected.url"
       >
    </div>
  </div>
  <div class="row basket-head">
    <span class="description">ATTACHED IMAGES</span>
    <span class="badge" ng-bind="images.collected.length"></span>
    images
  </div>
  <div class="row basket">
    <div
       ng-repeat="image in images.collected"
       class="thumbnail-wrapper"
       ng-class="{attached: images.isAttached(image.id)}"
       ng-click="images.toggleAttach(image.id)"
       >
      <img
         class="thumbnail" 
         ng-src="{{root}}/images/{{image.basename}}"
         >
    </div>
  </div>
  <div class="modal-footer">
    <button
       type="button"
       class="btn btn-default"
       ng-click="images.discardAll();"
       data-test-button="modal-close"
       data-dismiss="modal">
      Discard
    </button>
    <button
       type="button"
       class="btn btn-primary"
       ng-disabled="images.collected.length < 1"
       ng-click="images.attachAll()">
      Attach Images
    </button>
  </div>
</div>
