<div class="attach-image" ng-controller="AttachImageCtrl">
  <div class="row">
    <div class="col-md-2 sources list-group">
      <a
         class="list-group-item"
         ng-repeat="source in sources"
         ng-click="select(source)"
         ng-class="{active: selected.value==source.value}"
         data-test="select-{{selected.value}}"
         ng-bind="source.description"
         >
      </a>
    </div>
    <div
       class="col-md-10 source"
       ng-include="selected.url"
       >
    </div>
  </div>

  <div class="row basket-head"
       ng-hide="selected.value === 'computer'">
    <span class="description">SELECTED IMAGES</span>
    <span class="badge" ng-bind="images.collected.length"></span>
    image{{(images.collected.length !== 1) ? 's' : ''}}
  </div>

  <div class="row basket"
       ng-hide="selected.value === 'computer'">
    <div
       ng-repeat="image in images.collected"
       class="thumbnail-wrapper"
       ng-class="{attached: images.isAttached(image.id)}"
       ng-click="images.toggleCollect(image.id)"
       >
      <div class="toggler">
        <span class="glyphicon glyphicon-minus"></span>
      </div>
      <img
         class="thumbnail" 
         ng-src="{{root}}/images/{{image.basename}}"
         >
      <div>
        {{image.description || "No description"}}<br/>
        <span class="size-info">{{image.width}} x {{image.height}}</span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
       type="button"
       class="btn btn-default"
       ng-click="images.discardAll();"
       data-test-button="modal-close"
       data-dismiss="modal">
      Discard
    </button>
    <button
       type="button"
       class="btn btn-primary"
       ng-disabled="images.collected.length < 1"
       ng-click="images.attachAll()">
      Attach Images
    </button>
  </div>
</div>
