<div
   class="root {{model.showStatus}} comment-{{model.status}}"
   >
  <input type="checkbox" ng-model="model.selected" />
  <div class="right">
    <div class="image-and-author-details">
      <!--img class="author" ng-src="model.image" /-->
      <div class="date-and-name">
        <div class="date" ng-bind="model.created | date: 'dd.M.yyyy'"></div>
        <div
           ng-bind="model.author"
           ng-click="model.toggle()"
           ></div>
      </div>
      <span class="label label-default" ng-bind="model.status"></span>
    </div>
    <div
       class="subject"
       ng-bind="model.subject"
       ng-click="model.toggle()"
       ng-hide="model.isEdited"
       ></div>
    <input
       class="editable subject"
       ng-model="model.editing.subject"
       ng-show="model.isEdited"
       />
    <div
       ng-bind="model.message"
       ng-hide="model.isEdited"
       class="comment"></div>
    <textarea
       class="message"
       ng-model="model.editing.message"
       ng-show="model.isEdited"
       ></textarea>
  </div>

  <!-- reply-to-comment form -->
  <div class="add-reply right" ng-show="model.isReplyMode">

    <div class="heading">
      <span class="add-reply-text">REPLY TO THIS COMMENT</span>
    </div>

    <div class="body">
      <div class="input-name">Subject</div>
      <input
         class="editor-input"
         placeholder="Subject"
         ng-model="model.reply.subject"
         ng-disabled="model.sendingReply"
         >

      <div class="input-name">Message</div>
      <textarea
         class="editor-input"
         ng-model="model.reply.message"
         ng-disabled="model.sendingReply"
         ></textarea>

      <div class="replyToControls">
        <button
           class="btn btn-primary pull-right"
           ng-click="model.sendReply()"
           ng-disabled="model.sendingReply"
           >
          Reply
        </button>
        <button
           class="btn btn-default pull-right"
           ng-click="model.cancelReply()"
           ng-disabled="model.sendingReply"
           >
          Cancel
        </button>
      </div>

      <div class="clearfix"></div>&nbsp;
      <!-- TODO: temp clearfix, later od it in CSS -->
    </div>
  </div>


  <div class="controls" ng-hide="model.isReplyMode">
    <span
       class="glyphicon glyphicon-chevron-up"
       ng-hide="model.isEdited"
       ng-click="model.collapse()"
       title="Collapse"
       ></span>
    <span
       class="glyphicon glyphicon-pencil"
       ng-click="model.edit()"
       ng-hide="model.isEdited"
       title="Edit"
       ></span>
    <span
       class="glyphicon glyphicon-floppy-disk"
       ng-click="model.save()"
       ng-show="model.isEdited"
       title="Save"
       ></span>
    <span
       class="glyphicon glyphicon-remove"
       ng-click="model.cancel()"
       ng-show="model.isEdited"
       title="Cancel"
       ></span>
    <span
       class="glyphicon glyphicon-share-alt"
       style="-webkit-transform: rotate(180deg)"
       ng-hide="model.isEdited"
       ng-click="model.replyTo()"
       title="Reply"
       ></span> <!-- TODO: set rotation in CSS class of course ...
        and make it cros .browser!
      transform:rotate(7deg);
      -ms-transform:rotate(7deg); /* IE 9 */
      -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
      -->
    <span
       class="glyphicon glyphicon-share-alt"
       ng-hide="model.isEdited"
       title="Share"
       ></span>
    <span
       class="glyphicon glyphicon-thumbs-up"
       ng-hide="model.isEdited"
       title="Recommend"
       ></span>
    <span
       class="glyphicon glyphicon-trash"
       ng-hide="model.isEdited"
       ng-click="model.remove()"
       title="Delete"
       ></span>
  </div>
</div>

