<div>
  <div class="controls">
    <span
       class="glyphicon glyphicon-chevron-right"
       ng-click="expand()"
       ng-show="!expanded">
    </span>
    <span
       class="glyphicon glyphicon-chevron-down"
       ng-click="collapse()"
       ng-show="expanded">
    </span>
    <span class="title">{{snippet.title}}</span>
    <span>|</span>
    <span class="remove glyphicon glyphicon-remove clickable"></span>
  </div>
  <div class="render-area" ng-show="expanded">
    <span class="preview"></span>
  </div>
</div>
