<div>
  <div class="controls">
    <span
       class="glyphicon glyphicon-chevron-right"
       ng-click="expanded=true"
       ng-show="!expanded">
    </span>
    <span
       class="glyphicon glyphicon-chevron-down"
       ng-click="expanded=false"
       ng-show="expanded">
    </span>
    <span ng-show="expanded">
      <span ng-click="preview()" ng-hide="previewed" class="clickable">
        preview
      </span>
      <span ng-click="code()" ng-show="previewed" class="clickable">
        code
      </span>
    </span>
    <span class="title">{{snippet.title}}</span>
    <span>|</span>
    <span class="remove glyphicon glyphicon-remove clickable"></span>
  </div>
  <div class="render-area" ng-show="expanded">
    <span ng-hide="previewed" class="code">{{snippet.code}}</span>
    <span ng-show="previewed" class="preview"></span>
  </div>
</div>
