<div ng-controller="MainCtrl" >

  <div
     class="authoring-environment"
     ng-class="{'zen-mode': mode.zen}"
     ng-if="auth"
     >
      <div ng-include src="'views/toolbar.html'"></div>
      <div ng-include src="'views/panes.html'"></div>
      <div ng-include src="'views/article.html'"
           class="main-article-container-container"
           ></div>
      <div ng-include src="'views/modal.html'"></div>

  </div>
  <div
      class="auth"
      ng-if="!auth">
      {{ ::('aes.label.authenticating'|trans) }}
  </div>
</div>

<toaster-container
    toaster-options="{'time-out': 4000}"
    ></toaster-container>
