<div class="modal-login">
  <form name="loginForm">

    <div class="modal-header">
      <h3 id="modalLoginTitle">Login</h3>
    </div>

    <div class="modal-body">
        <input type="text" ng-model="ctrl.formData.username" required
            placeholder="username" class="form-control">
        <input type="password" ng-model="ctrl.formData.password" required
            placeholder="password" class="form-control">
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary"
          ng-click="loginForm.$valid && submit()">OK</button>
    </div>

  </form>
</div>
