<div class="subnav subnav-fixed">
    <h1
       class="main-article-title aloha-editable"
       id="article-title-fixed"
       contenteditable="true"
       ng-controller="ArticleCtrl"
       >
      {{article.title}}
    </h1>

    <a class="btn btn-medium btn-info pull-right" href="#">Save</a>
    <a class="btn btn-medium pull-right" href="#">Close</a>




    <div class="btn-group pull-right" style="margin:0 20px 0 30px;">
        <button class="btn btn-medium dropdown-toggle" data-toggle="dropdown"><i class="icon-settings"></i> <span class="caret"></span></button>
        <div ng-include src="'views/panes-config.html'"></div>
    </div>
    <a class="btn btn-medium pull-right mobile-hide" href="#" id="zen-mode">Zen mode</a>
    <a class="btn btn-medium pull-right mobile-hide" href="#" id="live-edit">Live edit</a>
</div>
