<section class="tabcontent embed-panel" ng-controller="SnippetsCtrl">
  <div class="panel-title">
    Embed Code
  </div>
  <div class="add-element" ng-class="{expanded: adding}">
    <div class="heading">
      <button
         class="btn btn-sf-invisible"
         data-test-button="add"
         ng-click="adding = true"
         ng-hide="adding"
         >
        <span class="glyphicon glyphicon-plus"></span><span class="add-text">ADD A SNIPPET</span>
      </button>
      <button
         class="btn btn-sf-invisible"
         ng-click="adding = false"
         ng-show="adding"
         >
        <span class="glyphicon glyphicon-minus"></span><span class="add-text">ADD A SNIPPET</span>
      </button>
    </div>
    <div
       ng-show="adding"
       class="body"
       >
      <div class="input-name">Title</div>
      <input
         class="editor-input"
         placeholder="Title"
         ng-model="create.title"
         >
      <div class="input-name">Code</div>
      <textarea
         class="editor-input"
         ng-model="create.code"
         >
      </textarea>
      <div class="controls">
        <button
           class="btn btn-primary btn-sm pull-right"
           data-test-button="new"
           ng-click="add()"
           >
          Save
        </button>
        <button
           class="btn btn-default btn-sm pull-right"
           ng-click="cancel()"
           >
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="attached-title">Attached code snippets</div>
  <div class="list" ng-class="{low: adding, high: !adding}">

    <div
       ng-repeat="snippet in snippets"
       ng-class="{collapsed: !snippet.expanded}"
       class="panel panel-default"
       data-draggable-type="embed"
       data-id="{{snippet.id}}"
       sf-draggable
       >
      <div class="panel-heading draggable-panel-heading">
        <span class="expand"></span>
        <div class="pull-right">
          <button
             class="btn btn-sf-invisible pull-right"
             ng-click="remove(snippet.id)"
             >          
            <i class="fa fa-trash-o"></i>
          </button>
          <button
             class="btn btn-sf-invisible pull-right"
             ng-click="snippet.edit()"
             >
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        
        <div class="pull-left">
          <button
             class="btn btn-sf-invisible"
             ng-hide="snippet.expanded"
             ng-click="snippet.expanded = true"
             >
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
          <button
             class="btn btn-sf-invisible"
             ng-show="snippet.expanded"
             ng-click="snippet.expanded = false"
             >
            <span class="glyphicon glyphicon-chevron-down"></span>
          </button>
        </div>
        <div class="pull-left title-block">
          <input
             class="editable"
             ng-model="snippet.title"
            ng-show="snippet.editing">
          <span
            class="title"
            ng-bind="snippet.title"
            ng-hide="snippet.editing">
          </span>
        </div>              

      </div><!-- end panel heading -->

      <div class="panel-body" ng-show="snippet.expanded">
        <textarea
           rows="3"
           class="code"
           ng-model="snippet.code"
           ng-readonly="!snippet.editing"></textarea>
        <div class="footer" ng-show="snippet.editing">
          <button
             class="btn btn-sf-invisible pull-right"
             ng-click="snippet.editing = false"
             >
             <i class="fa fa-floppy-o"></i>
          </button>
          <button
             class="btn btn-sf-invisible pull-right"
             ng-click="snippet.cancel()"
             >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div><!-- end panel body -->
    </div><!-- end panel -->

  </div><!-- end  list -->
</section>
