<section class="tabcontent comments-panel" ng-controller="CommentsCtrl">
  <div
     class="panel-title-button-group btn-group pull-right"
     bs-radio-group
     ng-model="globalShowStatus"
     >
    <button type="button"
        class="btn btn-default"
        ng-class="{active: {{globalShowStatus === 'expanded'}} }"
        title="{{globalShowStatus === 'expanded' ? 'Collapse' : 'Expand'}} Comments"
        ng-click="toggleShowStatus()"
        ><i class="fa fa-sort"></i></button>
  </div>

  <div class="panel-title">
    Comments
  </div>

  <div
      class="commenting-options"
      ng-class="{
        changing: isChangingCommenting,
        enabled: (!isChangingCommenting &amp;&amp;
                  commentingSetting === commenting.ENABLED),
        disabled: (!isChangingCommenting &amp;&amp;
                   commentingSetting === commenting.DISABLED),
        locked: (!isChangingCommenting &amp;&amp;
                 commentingSetting === commenting.LOCKED)
      }">

    <select
        class="disabled"
        ng-model="commentingSetting"
        ng-options="opt.value as opt.text for opt in commentingOpts"
        ng-disabled="isChangingCommenting"
        ng-change="updateCommentingDirtyFlag()"
        ></select>

    <button
        class="btn"
        ng-disabled="!commentingOptDirty || isChangingCommenting"
        ng-click="changeCommentingSetting()"
        >Apply</button>

    <label>Visible on Frontend:</label>
    <span>{{commentingSetting !== commenting.DISABLED ? 'yes' : 'no'}}</span>

    <label>Commenting:</label>
    <span>{{commentingSetting === commenting.ENABLED ? 'yes' : 'no'}}</span>
  </div>

  <div
    class="add-element ng-hide"
    ng-class="{expanded: adding}"
    ng-show="commentingSetting === commenting.ENABLED"
    >
    <div class="heading">
      <button
         class="btn btn-sf-invisible"
         data-test-button="add"
         ng-click="adding = true"
         ng-hide="adding"
         >
        <span class="glyphicon glyphicon-plus"></span><span class="add-text">POST A COMMENT</span>
      </button>
      <button
         class="btn btn-sf-invisible"
         ng-click="adding = false"
         ng-show="adding"
         >
        <span class="glyphicon glyphicon-minus"></span><span class="add-text">POST A COMMENT</span>
      </button>
    </div>
    <div
       ng-show="adding"
       class="body"
       >
      <!--div class="input-name">Author</div>
      <input
         class="editor-input"
         placeholder="Author"
         ng-model="create.author"
         -->
      <div class="input-name">Subject</div>
      <input
         class="editor-input"
         placeholder="Subject"
         ng-model="create.subject"
         ng-disabled="isSending"
         >
      <div class="input-name">Comment</div>
      <textarea
         class="editor-input"
         ng-model="create.message"
         ng-disabled="isSending"
         ></textarea>
      <div class="controls">
        <button
           class="btn btn-primary pull-right"
           data-test-button="new"
           ng-click="add({comment:create})"
           ng-disabled="isSending"
           >
          Send
        </button>
        <button
           class="btn btn-default pull-right"
           ng-click="cancel()"
           ng-disabled="isSending"
           >
          Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="list"
       ng-class="{low: adding, high: !adding, nested: sorting.text=='Nested'}"
       >
    <div class="filters">
      <span class="filters-label">View:</span>
      <span
         ng-repeat="(key, value) in statuses"
         class="{{key}}-check"
         >
        <input ng-model="value" type="checkbox" ng-change="toggle(key)">
        {{key}}
      </span>
      <select
         class="pull-right"
         ng-model="sorting"
         ng-options="s.text for s in sortings"
         >
      </select>
    </div>
    <div class="status-buttons">
      <a
         class="btn btn-default btn-sm"
         ng-click="comments.changeSelectedStatus('approved')">
        Approve
      </a>
      <a
         class="btn btn-default btn-sm"
         ng-click="comments.changeSelectedStatus('pending')">
        Mark as New
      </a>
      <a
         class="btn btn-default btn-sm"
         ng-click="comments.changeSelectedStatus('hidden')">
        Hide
      </a>
      <a
         class="btn btn-default btn-sm delete-button"
         ng-click="comments.changeSelectedStatus('deleted')">
        Delete
      </a>
    </div>
    <div class="liner"> <!-- does the style trick for the vertical lines -->
      <comment
         model="comment"
         ng-repeat="comment in filtered = (comments.displayed | filter:selected | sortComments:sorting.text)"
         class="{{comment.showStatus}} comment-{{comment.status}} level-{{comment.thread_level}}"
         >
      </comment>
    </div>
    <div
       class="empty-message"
       ng-show="filtered.length < 1"
       >
      No any comment matches your selection
    </div>
    <div
       class="more-button-wrapper"
       ng-show="comments.canLoadMore"
       >
      <button
         type="button"
         class="btn btn-default"
         ng-mouseover="comments.more()"
         >
        Show more comments
      </button>
    </div>
  </div>
</section>
