<section
    ng-controller="PaneTopicsCtrl"
    class="tabcontent topics-panel">

  <div class="panel-title">
    Article Info
  </div>

  <div class="info-list">
    <ul>
      <li>
        <div class="field-description">
          Title:
        </div>
        <div class="field-value">
          <ul>
            <li>Ganz besonders, diese Elsasser</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Created by:
        </div>
        <div class="field-value">
          <ul>
            <li>Gideon Lehmann</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Created on:
        </div>
        <div class="field-value">
          <ul>
            <li>01.01.2013.</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Published on:
        </div>
        <div class="field-value">
          <ul>
            <li>-</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Type:
        </div>
        <div class="field-value">
          <ul>
            <li>news</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Webcode:
        </div>
        <div class="field-value">
          <ul>
            <li>+cup6z</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Authors:
        </div>
        <div class="field-value">
          <ul>
            <li>Gideon Lehmann</li>
            <li>David Bauer</li>
            <li>Darko Tomic</li>
            <li>Sebastian Horn</li>
            <li>Holman Romero</li>
            <li>Aleksandar Erkalovic</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Topics:
        </div>
        <div class="field-value">
          <ul>
            <li>Soccer</li>
            <li>Basel</li>
            <li>Politik</li>
          </ul>
        </div>
      </li>                
    </ul>
  </div>

</section>
