<section
    ng-controller="PaneSwitchesCtrl as psCtrl"
    class="tabcontent switches-panel">

  <div class="panel-title">
    Switches
  </div>

  <div class="switches-list">
    <ul>      
      <li ng-repeat="switch in psCtrl.switches">
        <input
            type="checkbox" class="input_checkbox"
            name="{{::switch.name}}" id="{{::switch.name}}"
            ng-model="psCtrl.articleObj.fields[switch.name]"
            ng-change="psCtrl.valueChanged()"
            ng-disabled="psCtrl.saveInProgress"/>
          <label for="{{::switch.name}}">{{::switch.text}}</label>
      </li>
    </ul>

    <div class="controls clearfix">
      <button
        class="btn btn-primary btn-sm save-button"
        ng-disabled="!psCtrl.modified || psCtrl.saveInProgress"
        ng-click="psCtrl.save()"
        >Save</button>
    </div>
  </div>

</section>
