<section
    class="tabcontent info-pane"
    ng-controller="PaneInfoCtrl as infoCtrl">

  <div class="panel-title">
    {{ ::('aes.label.articleinfo'|trans) }}
  </div>

  <div class="info-list">
    <ul>
      <li>
        <div class="field-description">
          {{ ::('aes.label.created'|trans) }}:
        </div>
        <div class="field-value">
          <ul>
            <li>{{(infoCtrl.article.created | date : 'yyyy-MM-dd') || '-'}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          {{ ::('aes.label.lastupdated'|trans) }}:
        </div>
        <div class="field-value">
          <ul>
            <li>{{(infoCtrl.article.updated | date : 'yyyy-MM-dd') || '-'}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          {{ ::('aes.label.publishedon'|trans) }}:
        </div>
        <div class="field-value">
          <ul>
            <li>{{(infoCtrl.article.published | date : 'yyyy-MM-dd') || '-'}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          {{ ::('aes.label.type'|trans) }}:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::infoCtrl.article.type}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          {{ ::('aes.label.webcode'|trans) }}:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::infoCtrl.article.webcode}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Language:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::infoCtrl.article.languageData.name}} ({{::infoCtrl.article.languageData.RFC3066bis}})</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Publication:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::infoCtrl.article.publication.name}}</li>
          </ul>
        </div>
      </li>
      <li ng-if="infoCtrl.article.issue">
        <div class="field-description">
          Issue:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::infoCtrl.article.issue.title}}</li>
          </ul>
        </div>
      </li>
      <li ng-if="infoCtrl.article.section">
        <div class="field-description">
          Section:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::infoCtrl.article.section.title}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</section>
