<section ng-controller="PaneTopicsCtrl" class="tab-content" id="topics-tab">
    <form ng-submit="addTopic()">
        <input type="text" ng-model="topicText"  size="30"
               placeholder="Add a new Topic here">
        <input class="btn-primary" type="submit" value="add">
    </form>
    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <h3>Available Topics</h3>
    <ul class="edit-toc">
        <li ng-repeat="topic in topics | filter:{selected:false} | filter:search | orderBy:'text'">
            <a ng-click="chooseTopic(topic)">{{topic.text}} ({{topic.id}}) <button ng-click="deleteTopic(topic)">X</button></a>
        </li>
    </ul>

    <h3>Chosen Topics</h3>
    <ul class="edit-toc">
        <li ng-repeat="topic in topics | filter:{selected:true} | orderBy:'text'">
            <a href="#">{{topic.text}} ({{topic.id}}) <button ng-click="deleteChTopic(topic)">X</button></a>
        </li>
    </ul>
</section>