<section
    ng-controller="PaneTopicsCtrl"
    class="tabcontent topics-panel">

  <div class="panel-title">
    Topics
  </div>

  <div class="add-element" ng-class="{expanded: showAddNew}">
    <div class="heading">
      <button class="btn btn-sf-invisible"
              ng-click="showAddNew = !showAddNew">
        <span class="glyphicon"
              ng-class="{'glyphicon-plus': !showAddNew,
                         'glyphicon-minus': showAddNew}"
              ></span><span class="add-text">ADD NEW TOPIC</span>
      </button>
    </div>

    <form name="addSnippet" class="body" ng-show="showAddNew">
      <div class="input-name">Title</div>
      <input name="snippetTitle" required
          class="editor-input"
          placeholder="Title"
          ng-model="newSnippet.name">
      <div class="controls">
        <button
            class="btn btn-primary btn-sm pull-right"
            data-test-button="new"
            ng-click="addSnippet.$valid && addNewSnippetToArticle(newSnippet)"
            ng-disabled="addingNewSnippet"
            >Add</button>
        <button
            class="btn btn-default btn-sm pull-right"
            ng-click="clearNewSnippetForm()"
            ng-disabled="addingNewSnippet ||
                        (!newSnippet.name && !newSnippet.template)"
            >Clear</button>
      </div>
    </form>
  </div>

  <div class="add-element" ng-class="{expanded: showAddExisting}">
    <div class="heading">
      <button class="btn btn-sf-invisible"
              ng-click="showAddExisting = !showAddExisting">
        <span class="glyphicon"
              ng-class="{'glyphicon-plus': !showAddExisting,
                         'glyphicon-minus': showAddExisting}"
              ></span><span class="add-text">ADD EXISTING TOPIC</span>
      </button>
    </div>

    <form name="addSnippet" class="body" ng-show="showAddExisting">
      <div class="input-name">Title</div>
      <input name="snippetTitle" required
          class="editor-input"
          placeholder="Title"
          ng-model="newSnippet.name">
      <div class="controls">
        <button
            class="btn btn-primary btn-sm pull-right"
            data-test-button="new"
            ng-click="addSnippet.$valid && addNewSnippetToArticle(newSnippet)"
            ng-disabled="addingNewSnippet"
            >Add</button>
        <button
            class="btn btn-default btn-sm pull-right"
            ng-click="clearNewSnippetForm()"
            ng-disabled="addingNewSnippet ||
                        (!newSnippet.name && !newSnippet.template)"
            >Clear</button>
      </div>
    </form>
  </div>

  <div class="assigned-title">Assigned Topics</div>
  <div class="list">
    <div
       ng-repeat="topic in assignedTopics"
       class="panel panel-default">
       {{topic.title}}
    </div>
  </div><!-- end list -->

</section>
