<section
    ng-controller="PaneArticlesListsCtrl"
    class="tabcontent articleslists-pane"
    auto-list-offset="155">

  <div class="panel-title">
    {{ ::('aes.label.articleslists'|trans) }}
  </div>

  <div 
    class="paneFormWrapper">

    <div class="add-element">
      <div class="heading">

        <button
           class="btn btn-default btn-sm"
           id="add-media"
           data-test-button="articles-lists-attach"
           role="button"
           title="{{ ::('aes.label.attachslideshows'|trans) }}"
           ng-click="openArticlesListsEditor('attach')"
           >
           <i class="fa fa-picture-o"></i>
           {{ ::('aes.label.addexistingarticleslists'|trans) }}
        </button>
      </div>

    </div>

  </div>

  <div class="assigned-title">{{ ::('aes.label.assignedarticleslists'|trans) }}</div>

  <div class="list">
    <div
       ng-repeat="articlesList in assignedArticlesLists"
       class="panel panel-default" ng-class=" 'level-{{articlesList.level}}' ">
      <div
        ng-click="openArticlesListsEditor('edit', articlesList.id)">
       {{::articlesList.title}}
      </div>
      <div class="unassign" ng-click="confirmUnassignArticlesList(articlesList)">
        <span class="glyphicon glyphicon-remove" title="Unassign articlesList"></span>
      </div>
    </div>
  </div><!-- end list -->

</section>
