<section
    ng-controller="PaneArticlesListsCtrl"
    class="tabcontent articleslists-pane"
    auto-list-offset="155">

  <div class="panel-title">
    {{ ::('aes.label.articleslists'|trans) }}
  </div>

  <div class="paneFormWrapper">

    <div class="add-element" ng-class="{expanded: showAddExisting}">
      <div class="heading">
        <button class="btn btn-sf-invisible"
                ng-click="showAddExisting = !showAddExisting">
          <span class="glyphicon"
                ng-class="{'glyphicon-plus': !showAddExisting,
                           'glyphicon-minus': showAddExisting}"
                ></span><span class="add-text">{{ ::('aes.label.addexistingarticleslists'|trans) }}</span>
        </button>
      </div>

      <div class="body" ng-show="showAddExisting">
        <tags-input
            class="ti-input-sm"
            ng-model="selectedArticlesLists"
            display-property="title"
            placeholder="{{ ::('aes.label.articleslistname'|trans) }}"
            add-from-autocomplete-only="true">
          <auto-complete
              source="findArticlesLists($query)"
              debounce-delay="250"></auto-complete>
        </tags-input>

        <div class="controls">
          <button
              class="btn btn-primary btn-sm pull-right"
              ng-disabled="assigningArticlesLists || selectedArticlesLists.length < 1"
              ng-click="assignSelectedToArticle()"
              >{{ ::('Add'|trans) }}</button>
          <button
              class="btn btn-default btn-sm pull-right"
              ng-disabled="assigningArticlesLists || selectedArticlesLists.length < 1"
              ng-click="clearSelectedArticlesLists()"
              >{{ ::('Clear'|trans) }}</button>
        </div>
      </div>
    </div>

  </div>

  <div class="assigned-title">{{ ::('aes.label.assignedarticleslists'|trans) }}</div>

  <div class="list">
    <div
       ng-repeat="articlesList in assignedArticlesLists"
       class="panel panel-default" ng-class=" 'level-{{articlesList.level}}' ">
       {{::articlesList.title}}
      <div class="unassign" ng-click="confirmUnassignArticlesList(articlesList)">
        <span class="glyphicon glyphicon-remove" title="Unassign articlesList"></span>
      </div>
    </div>
  </div><!-- end list -->

</section>
