<section
    class="tabcontent info-pane"
    ng-controller="PaneInfoCtrl">

  <div class="panel-title">
    Article Info
  </div>

  <div class="info-list">
    <ul>
      <li>
        <div class="field-description">
          Last updated:
        </div>
        <div class="field-value">
          <ul>
            <li>{{(article.updated | date : 'yyyy-MM-dd') || '-'}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Published on:
        </div>
        <div class="field-value">
          <ul>
            <li>{{(article.published | date : 'yyyy-MM-dd') || '-'}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Type:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::article.type}}</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="field-description">
          Webcode:
        </div>
        <div class="field-value">
          <ul>
            <li>{{::article.webcode}}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

</section>
