<nav class="navbar navbar-default navbar-fixed-top">
  <!-- devcode: newscoop -->
  <div id="cs-specific">
  <div ng-include="'views/toolbar/navigation.html'"></div>
  </div>
  <!-- endcode -->
  <!-- devcode: !newscoop -->
  <div style="height:61px;display:block;background-color:black"></div>
  <!-- endcode -->
  <div
     class="sf-upper-toolbar"
     ng-include
     src="'views/toolbar/mode.html'">
  </div>
  <div
     class="sf-lower-toolbar"
     ng-include
     src="'views/toolbar/formatting.html'">
  </div>
</nav>
